body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(../images/concrete_seamless.png);
    color: #777777;
}

.main-header {
    overflow: auto;
    background-color: #ffffff;
    border-style: none none solid none;
    border-width: 2px;
    border-color: #cccccc;
}

.content-area {
    width: 960px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
}

.your-name {
    float: left;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff;
    padding: 20px;
}

.about,
.portfolio,
.contact {
    color: #cccccc;
    text-decoration: none;
    float: right;
    padding: 20px;
}

.separator {
    float: right;
    padding: 20px 0px;
    font-weight: 100;
    color: #ebebeb;
}

.current-tab {
    font-weight: 400;
    color: #777777;
}

.about {

}

.portfolio {
    
}

.contact {
    padding: 20px 0px 20px 20px;
}

.main-content {
    overflow: auto;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    width: 920px;
    margin: 20px auto;
    padding: 20px;
}

.content-header {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.img-portrait {
    float: left;
    margin: 10px 10px 10px 0px;
}

.bio-text {
    font-size: 16px;
    line-height: 32px;
}

footer {
    background-color: #666666;
    text-align: center;
    border-style: solid none none none;
    border-width: 5px;
    border-color: #4aaaa5;
}
