body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: #dde2e2;
}
/* f3f4f6 light grey */

.theme-color {
    color: #e02541;
}
/* 90b846 green */
/* 7bb117 other green */
/* e02541 red */
/* eb3d26 orange */

/* for testing only */
/* div {
    box-sizing: border-box;
    border: 1px solid red;
} */

/* sidenav */
.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 33%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fafafa;
    overflow-x: hidden;
    padding-top: 20px;
}

.nav-logo{
    padding: 8px 8px 8px 32px;
    margin-bottom: auto;
}

.nav-logo a{
    line-height: 1em;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: .01em;
    text-decoration: none;
    color: #000;
}

#nav-links ul li a {
    display: flex;
    align-items: center;
}

.nav-stem {
    width: 10px;
    height: 2px;
    background-color: #a3a3a3;
    margin: 4px 8px 4px 32px;
}

#nav-links ul li a {
    padding: 4px 8px 4px 0px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #a3a3a3;
    transition: 0.3s;
}

.active .nav-stem {
    width: 25px;
    background-color: #e02541;
}

#nav-links ul li .active{
    color: #000;
}

.nav-bottom {
    margin-top: auto;
    margin-bottom: 50px;
    padding: 8px 8px 8px 32px;
}

.nav-email {
    font-weight: bold;
}

#nav-botttom-separator {
    width: 120px;
    height: 1px;
    background-color: #c6c6c6;
    margin: 15px 0px;
}

.nav-socials a {
    padding-left: 0px;
    padding-right: 14px;
}

.social-icon {
    width: 24px;
    opacity: 0.8;
}

.sidenav a:hover {
    color: #818181;
}

/* main scrollable content */
#main-bkgd {
    margin-left: 67%;
}

#main-overlay {
    position: relative;
    width: 80%;
    position: absolute;
    right: 0;
}

/* top/about section */
#about-section {
    height: 100vh;
}

.about-container {
    padding: 250px 0px;;
    width: 100%;
}

.about-left {
    float: left;
    width: 66%;
}

.about-right {
    float: right;
    width: 30%;
    height: 100%;
}

.about-title {
    font-weight: bold;
    font-size: 14px;
    color: #a3a3a3;
    margin-bottom: 27px;
}

.about-text {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2em;
}

.avatar-img {
    height: 260px;
    border-radius: 50%;
    border: 4px solid #fafafa;
}

/* portfolio section */
#portfolio-section {
    padding-top: 60px;
}

.portfolio-header {
    margin: 0px 0px 30px;
    font-size: 36px;
    line-height: 1.2em;
    font-weight: bold;
}

.portfolio-row {
    margin: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-img {
    align-self: center;
    width: 300px;
    box-shadow: 1.878px 3.532px 8px 0px rgba(0, 0, 0, 0.05);
}

.portfolio-desc {
    padding: 0px 135px 0px 30px;
}

.portfolio-desc-about {
    font-weight: bold;
    font-size: 22px;
}

.font-bold {
    font-weight: bold;
}

.portfolio-desc-tech {
    font-size: 22px;
}

/* contact section */
#contact-section {
    height: 100vh;
    display: flex;
}

.contact-header {
    width: 220px;
    margin: 60px 0px 30px;
    font-size: 36px;
    line-height: 1.2em;
    font-weight: bold;
}

.form-container {
    margin: 60px 20px;
    width: 600px;
    padding-top: 15px;
}

#form label {
    font-size: 20px;
    font-weight: bold;
}

#form input {
    display: block;
    width: 300px;
    margin: 18px 0px;
    padding: 0px 10px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #a3a3a3;
    font-size: 14px;
}

#form textarea {
    width: 100%;
    height: 200px;
    margin: 20px 0px;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #a3a3a3;
    font-size: 14px;
}

#form input:focus,
#form textarea:focus {
    outline: none;
}

#form #submit {
    margin-top: 0px;
    background-color: #dde2e2;
    max-width: 120px;
    border: 2px solid #000;
    border-radius: 20px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
}

#form #submit:hover {
    border: 2px solid #e02541;
    color: #e02541;
    cursor: pointer;
    transition: 0.1s;
}

.modal-body {
    padding: 40px 0px;
    font-size: 20px;
}

.modal-footer {
    border: none;
    padding-top: 10px;
    justify-content: center;
}

#modalCloseButton {
    width: 100px;
    border: 2px solid #000;
    border-radius: 20px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
}

#modalCloseButton:hover {
    border: 2px solid #e02541;
    color: #e02541;
}